streamlit
langchain
langchain-community
langchain-chroma
llama-index
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
chromadb==0.5.5
pdf2image
PyPDF2
pytesseract
python-docx
pyngrok
pytest
pylint
pep8
langchain-mistralai
sentence-transformers
transformers
accelerate
six
tqdm>=4.65.0
python-dotenv
