streamlit
langchain
langchain-community
langchain-chroma
llama-index
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
chromadb
pdf2image
PyPDF2
pytesseract
python-docx
pyngrok
pytest
pylint
pep8
langchain-mistralai
sentence-transformers
torch
transformers